
.display-5{
    color: rgb(2, 6, 37);
}
.btn-secondary{
    background-color: rgba(21, 105, 58, 0.911);
    outline: none;
}
.btn-secondary:hover{
    background-color: rgba(194, 31, 216, 0.012);
    color: black;
    font-weight: bold;
}